<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510339407635-sli05qbr36k9h1n78o5ot10a3m3srsqt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510339407635-sli05qbr36k9h1n78o5ot10a3m3srsqt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>510339407635-96r06a8hdf7kmgr0gugomh2bpk331j93.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCa4Jiam2agvQCndnpafYRKw1nYlTxstY8</string>
	<key>GCM_SENDER_ID</key>
	<string>510339407635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.theleftcab.tradebud</string>
	<key>PROJECT_ID</key>
	<string>tradebud1-729f7</string>
	<key>STORAGE_BUCKET</key>
	<string>tradebud1-729f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510339407635:ios:860ede5ccaf55c8a29c4e6</string>
</dict>
</plist>